* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'GangwonEduPowerExtraBoldA';
  /* cursor: none; */
}

/* 강원교육청글꼴 */
@font-face {
  font-family: 'GangwonEduPowerExtraBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* 붕어빵 */
/* @font-face{
  font-family:'bitbit';
  src:url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff'),url('//cdn.df.nexon.com/img/common/font/DNFBitBit-Regular.woff2') ;
} */

/* 라인Seed */
/* @font-face {
  font-family: 'LINESeedKR-Bd';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
} */

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap');
/* font-family: 'Chakra Petch', sans-serif; */
